:root {
  font-size: 20px;

  --primary-color: #1f3a48;
  --secondary-color: #fffcef;

  --font-color: var(--secondary-color);
  --font-color-subtile: #fffcef99;

  --pad-y: 0;
  --pad-x: clamp(6vw, 7vw, 8vw);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

::selection {
  background: var(--primary-color);
  color: var(--secondary-color);
}

@font-face {
  font-family: "Atkinson";
  src: url("/web/fonts/atkinson-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Atkinson";
  src: url("/web/fonts/atkinson-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  background: #000;
  color: var(--font-color);
  font-family: "Atkinson", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

section {
  padding: var(--pad-y) var(--pad-x);
}

h1,
h2 {
  font-size: clamp(2rem, 5vw, 3.8rem);
}
h3 {
  font-size: clamp(1.5rem, 3vw, 2.2rem);
}
h4 {
  font-size: clamp(1.25rem, 2vw, 1.8rem);
}
h5 {
  font-size: clamp(1.1rem, 1.5vw, 1.4rem);
}

.stickyContainer {
  position: relative;
}

.stickyContent {
  position: sticky;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Debug styles */
.Debug {
  outline: 1px dashed rgba(255, 255, 255, 0.33);
}

.Debug:after {
  content: "StickyScrollScene";
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.33);
  color: black;
  font-size: 10px;
  padding: 5px;
}

.ViewportScrollScene:after {
  content: "ViewportScrollScene";
}
