---
import BaseHead from '../components/BaseHead.astro';
import LandingPage from '../components/LandingPage';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={`${SITE_TITLE} - home`} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<div id="landing-root">
			<LandingPage client:only="react" />
		</div>
	</body>
</html>
