---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Main from '../components/Main.astro';

import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={`${SITE_TITLE} - home`} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<Main />
		<Footer />
	</body>
</html>
