---
import BaseHead from '../components/BaseHead.astro';
import Landing from "../components/Landing";
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={`${SITE_TITLE} - home`} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Landing client:only="react" />
	</body>
</html>
