---
import { Image } from 'astro:assets';
import LogoImage from '../assets/logo_klogt.svg';
---

<header>
	<nav>
		<a href="/web"><Image width={120} src={LogoImage} alt="Klogt AS logo" /></a>
	</nav>
	<ul class="tags">
		<li>Senior Developer</li>
		<li>Experienced Consultant</li>
		<li>10+ Years Experience</li>
		<li>UX & UI specialist</li>
		<li>UU & WCAG Specialist</li>
		<li>GDPR & Privacy</li>
		<li>Secure & Compliant</li>
		<li>AI-Driven</li>
	</ul>
</header>

<style>
	header {
		margin: 5rem auto;
		padding: 0 var(--padding-content);
	}
	a,
	a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
	}
	nav a {
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--primary-color);
	}
	nav img {
		display: block;
		border-radius: 0;
	}

	.tags {
		display: flex;
		flex-wrap: wrap;
		gap: 0.5rem;
	  	width: var(--max-content-width);
        max-width: calc(100% - 2em);
	}

	.tags {
		padding: 0;
		margin: 1rem 0;
		list-style: none;
	}

	.tags li {
		padding: 2px 5px;
		background-color: rgb(var(--gray-light));
		border-radius: 2px;
		font-family: monospace;
		font-size: 18px;
		line-height: 1;
		text-transform: uppercase;
	}
</style> 
